.section-DoctorAtHome {
    height: auto;
    background-color: white;

    .DoctorAtHome-container {
        height: auto;
        margin: 0 100px;
        padding: 30px 0;

        .DoctorAtHome-header {
            height: 60px;
            padding: 10px 10px 10px 30px;

            .title1 {
                font-size: 32px;
                font-weight: 600;
            }

            .btn-xemthem {
                float: right;
                height: 50px;
                width: 120px;
                border: none;
                outline: none;
                display: block;
                cursor: pointer;
                background-color: #daf3f6;
                font-size: 20px;
                color: #34929e;
                border-radius: 10px;
                font-weight: bold;

                &:hover {
                    background-color: #f7d800;
                    color: #fff;
                }
            }

        }

        .DoctorAtHome-body {

            //reset slick slider

            .slick-prev {
                border: 2px solid #eaeaea !important;
                z-index: 10000 !important;
                height: 48px !important;
                width: 44px !important;
                background-color: rgba(255, 255, 255, 0.8) !important;
                left: -20px !important;

                &:hover {
                    background: #eaeaea !important;
                }
            }

            .slick-prev:before,
            .slick-next:before {
                font-family: FontAwesome !important;
                color: red !important;
                font-size: 20px !important;
                line-height: 1 !important;
                color: red !important;
            }

            .slick-next {
                border: 2px solid #eaeaea !important;
                height: 48px !important;
                width: 46px !important;
                background-color: rgba(255, 255, 255, 0.8) !important;
                right: -20px !important;

                &:hover {
                    background: #eaeaea !important;
                }
            }

            .img-custom {
                display: flex;
                padding: 10px 10px 10px 10px;
                margin-top: 40px;
                border-radius: 20px;
                // border: 1px solid rgba(0, 0, 0, 0.1);
                margin-right: 15px;
                height: 250px;
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                padding: 10px !important;
                flex-direction: column;

                .text-center {
                    font-size: 19px;
                    cursor: pointer;
                    display: -webkit-box;
                    /* Hiển thị dạng hộp linh hoạt */
                    -webkit-box-orient: vertical;
                    /* Xếp phần tử theo chiều dọc */
                    -webkit-line-clamp: 2;
                    /* Giới hạn số dòng tối đa là 2 */
                    overflow: hidden;
                    /* Ẩn phần văn bản vượt quá */
                    text-overflow: ellipsis;
                    /* Thêm dấu "..." ở cuối văn bản */
                    line-height: 1.5;
                    /* Đặt chiều cao dòng (line-height) */
                    max-height: 3em;

                }

                .bg-img1 {
                    height: 150px;
                    width: 150px;
                    background: url("https://cdn.bookingcare.vn/fo/w640/2019/04/20/103043dieu-duong-tai-nha.jpg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 10px;
                    border-radius: 50%;
                }

                .bg-img2 {
                    height: 150px;
                    width: 150px;
                    background: url("https://cdn.bookingcare.vn/fo/w640/2024/05/29/093722-logo-drcare1.jpg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                    margin-bottom: 10px;
                    border-radius: 50%;

                }

                .bg-img3 {
                    height: 150px;
                    width: 150px;
                    background: url("https://cdn.bookingcare.vn/fo/w640/2024/10/10/093006-thiet-ke-chua-co-ten.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 150%;
                    margin-bottom: 10px;
                    border-radius: 50%;
                }

                .bg-img4 {
                    height: 150px;
                    width: 100%;
                    background: url("https://cdn.bookingcare.vn/fo/w1080/2022/11/29/162306-medlatec.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;

                    margin-bottom: 10px;
                    border-radius: 20px;
                }

                .bg-img5 {
                    height: 150px;
                    width: 100%;
                    background: url("https://cdn.bookingcare.vn/fo/w1080/2022/11/29/162306-medlatec.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 70%;

                    margin-bottom: 10px;
                    border-radius: 20px;
                }

                .bg-img6 {
                    height: 150px;
                    width: 100%;
                    background: url("https://cdn.bookingcare.vn/fo/w1080/2022/11/29/162306-medlatec.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 10px;
                    border-radius: 20px;
                }
            }
        }


    }
}

@media only screen and (max-width: 1000px) {

    //150%
    .section-DoctorAtHome {
        .DoctorAtHome-container {
            .DoctorAtHome-header {}

            .DoctorAtHome-body {
                width: 900px;
                margin-left: -50px;
            }
        }
    }
}

@media only screen and (max-width: 900px) {

    //175%
    .section-DoctorAtHome {
        .DoctorAtHome-container {
            .DoctorAtHome-header {}

            .DoctorAtHome-body {
                width: 760px;
                margin-left: -50px;

                .slick-next {
                    margin-top: 20px;
                }

                .slick-prev {
                    margin-top: 20px;
                }

                .img-custom {
                    height: 300px;
                }
            }
        }
    }


}

@media only screen and (max-width: 800px) {

    //200%
    .section-DoctorAtHome {
        .DoctorAtHome-container {
            .DoctorAtHome-header {}

            .DoctorAtHome-body {
                width: 660px;
                margin-left: -50px;

                .img-custom {
                    height: 250px;


                }
            }
        }
    }

}

@media only screen and (max-width: 700px) {

    //250%
    .section-DoctorAtHome {
        .DoctorAtHome-container {
            .DoctorAtHome-header {
                .title1 {
                    margin-left: -70px;
                }

                .btn-xemthem {
                    margin-right: -60px;
                }
            }

            .DoctorAtHome-body {
                width: 500px;
                margin-left: -50px;

                .img-custom {
                    height: 250px;


                }
            }
        }
    }

}

@media only screen and (max-width: 500px) {

    //300%
    .section-DoctorAtHome {
        .DoctorAtHome-container {
            .DoctorAtHome-header {
                display: flex;
                height: auto;
                gap: 10px;
            }

            .DoctorAtHome-body {
                width: 400px;
                margin-left: -50px;

                .img-custom {
                    height: 270px;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {

    //400%
    .section-DoctorAtHome {
        .DoctorAtHome-container {
            .DoctorAtHome-header {
                display: flex;
                height: auto;
                gap: 10px;
                flex-direction: column;

                .title1 {
                    white-space: nowrap;
                    margin-left: -80px;
                }

                .btn-xemthem {
                    width: 200px;
                    margin-left: -40px;
                }
            }

            .DoctorAtHome-body {
                width: 300px;
                margin-left: -65px;

                .img-custom {
                    height: 250px;
                }
            }
        }
    }
}

@media only screen and (max-width: 300px) {

    //500%
    .section-DoctorAtHome {
        .DoctorAtHome-container {
            .DoctorAtHome-header {
                display: flex;
                height: auto;
                gap: 10px;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .title1 {
                    margin-left: -20px;
                    white-space: nowrap;
                }

                .btn-xemthem {
                    width: 200px;
                    margin-left: -80px;
                }
            }

            .DoctorAtHome-body {
                width: 240px;
                margin-left: -70px;

                .img-custom {
                    height: 250px;
                }
            }
        }
    }

}