.section-specialty {
    height: auto;
    background-color: white;
    margin-bottom: 70px;
    max-width: 2600px;
    margin: 0 auto;

    .specialty-container {
        height: 100%;
        margin: 0 100px;
        padding: 30px 0;

        .specialty-header {
            height: 60px;
            padding: 10px 10px 10px 30px;

            .title1 {
                font-size: 32px;
                font-weight: 600;
            }

            .btn-xemthem {
                float: right;
                height: 50px;
                width: 120px;
                border: none;
                outline: none;
                display: block;
                cursor: pointer;
                background-color: #daf3f6;
                font-size: 20px;
                color: #34929e;
                border-radius: 10px;
                font-weight: bold;

                &:hover {
                    background-color: #f7d800;
                    color: #fff;
                }
            }

        }

        .specialty-body {
            //reset slick slider

            .slick-prev {
                border: 2px solid #eaeaea !important;
                z-index: 10000 !important;
                height: 48px !important;
                width: 44px !important;
                background-color: rgba(255, 255, 255, 0.8) !important;
                left: -20px !important;
                margin-top: 20px;

                &:hover {
                    background: #eaeaea !important;
                }
            }

            .slick-next {
                border: 2px solid #eaeaea !important;
                height: 48px !important;
                width: 46px !important;
                background-color: rgba(255, 255, 255, 0.8) !important;
                right: -20px !important;
                margin-top: 20px;

                &:hover {
                    background: #eaeaea !important;
                }
            }



            .slick-prev:before,
            .slick-next:before {
                font-family: FontAwesome !important;
                color: red !important;
                font-size: 20px !important;
                line-height: 1 !important;
                color: red !important;
            }


            .slick-slide {
                padding: 0 10px; // kc anh slider
            }

            .slick-disabled {
                display: none !important;
            }

            .img-custom {
                display: flex;
                padding: 10px 10px 10px 10px;
                margin-top: 40px;
                border-radius: 20px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                margin-right: 15px;

                .bg-img1 {
                    height: 150px;
                    width: 100%;
                    background: url("../../../assets/specialty/co-xuong-khop.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 10px;
                    border-radius: 20px;
                }

                .bg-img2 {
                    height: 150px;
                    width: 100%;
                    background: url("../../../assets/specialty/than-kinh.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 10px;
                    border-radius: 20px;
                }

                .bg-img3 {
                    height: 150px;
                    width: 100%;
                    background: url("../../../assets/specialty/tieu-hoa.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 10px;
                    border-radius: 20px;
                }

                .bg-img4 {
                    height: 150px;
                    width: 100%;
                    background: url("../../../assets/specialty/tim-mach.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 10px;
                    border-radius: 20px;
                }

                .bg-img5 {
                    height: 150px;
                    width: 100%;
                    background: url("../../../assets/specialty/tai-mui-hong.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 10px;
                    border-radius: 20px;
                }

                .bg-img6 {
                    height: 150px;
                    width: 100%;
                    background: url("../../../assets/specialty/cot-song.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 10px;
                    border-radius: 20px;
                }
            }
        }


    }
}



// .cover {
//     width: 100%;
//     max-width: 2600px;
//     height: auto;
//     margin: 80px auto 0 auto;
// }

@media only screen and (max-width: 1000px) {

    //150%
    .section-specialty {
        .specialty-container {
            .specialty-header {}

            .specialty-body {
                width: 900px;
                margin-left: -50px;
            }
        }
    }

    .slick-next {
        margin-top: 0px;
    }

    .slick-prev {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 900px) {

    //175%
    .section-specialty {
        .specialty-container {
            .specialty-header {}

            .specialty-body {
                width: 760px;
                margin-left: -50px;

                .img-custom {
                    height: 250px;
                }
            }
        }
    }

    .slick-next {
        margin-top: 20px;
    }

    .slick-prev {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 800px) {

    //200%
    .section-specialty {
        .specialty-container {
            .specialty-header {}

            .specialty-body {
                width: 660px;
                margin-left: -50px;

                .img-custom {
                    height: 250px;
                }
            }
        }
    }

    .slick-next {
        margin-top: 20px;
    }

    .slick-prev {
        margin-top: 20px;
    }

    .slick-slide {
        padding: 0 3px; // kc anh slider
    }
}

@media only screen and (max-width: 700px) {

    //250%
    .section-specialty {
        .specialty-container {
            .specialty-header {
                .title1 {
                    margin-left: -70px;
                }

                .btn-xemthem {
                    margin-right: -60px;
                }
            }

            .specialty-body {
                width: 500px;
                margin-left: -50px;

                .img-custom {
                    height: 250px;
                }
            }
        }
    }

    .slick-next {
        margin-top: 20px;
    }

    .slick-prev {
        margin-top: 20px;
    }

    .slick-slide {
        padding: 0 3px; // kc anh slider
    }
}

@media only screen and (max-width: 500px) {

    //300%
    .section-specialty {
        .specialty-container {
            .specialty-header {}

            .specialty-body {
                width: 400px;
                margin-left: -50px;

                .img-custom {
                    height: 250px;
                }
            }
        }
    }

    .slick-next {
        margin-top: 20px;
    }

    .slick-prev {
        margin-top: 20px;
    }

    .slick-slide {
        padding: 0 3px; // kc anh slider
    }
}

@media only screen and (max-width: 400px) {

    //400%
    .section-specialty {
        .specialty-container {
            .specialty-header {
                display: flex;
                height: auto;
                gap: 10px;

                .title1 {
                    white-space: nowrap;
                    margin-left: -120px;
                }

                .btn-xemthem {
                    width: 200px;
                    margin-right: -90px;
                }
            }

            .specialty-body {
                width: 300px;
                margin-left: -65px;

                .img-custom {
                    height: 250px;
                }
            }
        }
    }

    .slick-next {
        margin-top: 20px;
    }

    .slick-prev {
        margin-top: 20px;
    }

    .slick-slide {
        padding: 0 3px; // kc anh slider
    }
}

@media only screen and (max-width: 300px) {

    //500%
    .section-specialty {
        .specialty-container {
            .specialty-header {
                display: flex;
                height: auto;
                gap: 10px;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .title1 {
                    margin-left: 0;
                    white-space: nowrap;
                }

                .btn-xemthem {
                    width: 200px;
                    margin-right: 0;
                }
            }

            .specialty-body {
                width: 200px;
                margin-left: -50px;

                .img-custom {
                    height: 250px;
                }
            }
        }
    }

    .slick-next {
        margin-top: 20px;
    }

    .slick-prev {
        margin-top: 20px;
    }

    .slick-slide {
        padding: 0 3px; // kc anh slider
    }
}